
.container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    height: 200%; 
}
#welcome-section {
    padding-right: 20px;
    height: 200%;
    background-color: red; 
}
#image-section {
    flex: 1; 
}
img {
    max-width: 100%; 
    height: auto; 
}
.buttons {
    display: flex;
    gap: 20px; /* Adjust the gap size to match the design */
    flex-wrap: wrap; /* In case buttons need to wrap */
}



.button-shop-now {
    background-color: #fff; /* Light background for the 'shop now' button */
    color: #000; /* Dark text for contrast */
}

.button-book-service {
    background-color: transparent; /* Transparent background for the 'book service' button */
    border: 2px solid #fff; /* White border */
    color: #fff; /* White text color */
}

.button:hover {
    opacity: 0.8; /* Simple hover effect */
}