
.containerHome{
  /* width: 250px; */
  width: 100%;
  padding: 300px;
  display: flex;
  overflow-x: hidden;
  background-color: red;

}

.containerH{
    background-color: #b22222;
}
#welcome-section {
    padding-right:0px;
    height: 100px;
    text-align: center;
    color:#fff;

}
#image-section {
    flex: 1; 
    
}

   
.p{
    margin-top: 20px;
}
img {width: auto;
    max-width:150%; 
    height: 100%; 
    
}
.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    margin-left: 50px;
    border-radius: 50px;

   

}



.button-shop-now {
  
color: #fff;
border-radius: 50px;

}

.button-book-service {
    background-color: transparent; 
    border: 2px solid #fff; 
    color: #fff; 
    border-radius: 50px;
}
.button:hover {
    opacity: 0.8; /* Simple hover effect */
}


